mat-grid-tile {
    background-color: lightblue;
}

.mat-grid-tile-content {
    display: flex;
    flex-direction: column;
}

h2,
h4 {
    margin: unset;
    font-family: var(--mdc-typography-body2-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));
    font-weight: 200;
    text-align: center;
}

.price-tag {
    font-size: 14px;
}