<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email">
    </mat-form-field>

    <mat-form-field 
        appearance="fill"
        *ngIf="!userId">
        <mat-label>Password</mat-label>
        <input matInput [type]="isShowing ? 'text' : 'password'" formControlName="password">
        <mat-icon matSuffix (click)="togglePasswordVisibility()">
            {{ isShowing ? 'visibility' : 'visibility_off' }}
        </mat-icon>
    </mat-form-field>

    <button 
        mat-stroked-button 
        type="submit"
        *ngIf="userId"
        (click)=onUpdateClick()>
        Update
    </button>
    <button 
        mat-stroked-button 
        type="submit"
        *ngIf="!userId">
        Sign up!
    </button>
</form>
